@import url('https://fonts.googleapis.com/css?family=Inconsolata|Pacifico|Quicksand|VT323&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    
}


li, ul {
    list-style: none;
    margin: 0;
}





#constructor {
    margin-top: 43px; 
}


.constructor__header {
    text-align: center;
align-items: center;
    margin-top: 29px;
}

.constructor__header__a {
    text-decoration: none;
    color: #000;
}

.constructor__header__number {
    display: flex;
    justify-content: center; 
}

.constructor__header__number__logo {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #A7A7A7;
}

.constructor__header__basket {
   display: block;
    padding: 20px 20px; 
}

.constructor__header__basket__language {
    display: block;
    padding: 25px 15px; 
}

.constructor__header__basket__language a {
    text-decoration: none;
    color: #C1C1C1;
}

.constructor__header__basket__language a.active {
    color: #000;
}

.constructor__header__basket__language a:hover {
    color: #000; 
}


.constructor__title h2 {
    display: flex;
   justify-content: center;

font-size: 30px;
   margin-top: 28px;
line-height: 35px;
color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.constructor___stages {
    display: flex;
    justify-content: center;
    padding-bottom: 62px;
    border-bottom: 1px solid #000;
    
}

.constructor__stages__ul {
  position: absolute;
    display: flex;
    justify-content: space-around;
}

.constructor___stages li a {
display: flex;
    justify-content: space-around;
    text-decoration: none; 
   color: #000;  
     transition: all .3s ease;
    padding-bottom: 5px;
    opacity: 0.5;
}


.constructor___stages li a:hover {
  
    border-bottom: 5px solid #EA6C18;
   opacity: 1;
}

.stage__active {
    border-bottom: 5px solid #EA6C18;
 
}

li.stage__active a {
    opacity: 1;
}



/*constructo__sex*/

div.constructor__sex div.d-flex {   
    padding-bottom: 48px;
    border-bottom: 1px solid #000;
}

div.constructor__sex p {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    margin-inline-start: 65px;
    margin-top: 38px;
}

.constructor__sex__ul {
    position: absolute;
    display: flex;
    justify-content: space-around;
}

div.constructor__sex li a {
     display:block;
    padding:12px 20px;
    text-decoration: none; 
   color: #000;    
}

div.constructor__sex li a.active, div.constructor__sex li a:hover {
    font-weight: 700;
         padding-bottom: 10px;
   border-bottom: 5px solid #2F2F2F;
}

/*constructor style */


div.constructor__style div.d-flex {
    
    padding-bottom: 48px;
    border-bottom: 1px solid #000;

}


div.constructor__style p {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    margin-inline-start: 65px;
    margin-top: 38px;
}


.constructor__style__ul {
    position: absolute;
    display: flex;
    justify-content: space-around;
}


div.constructor__style li a {
     display:block;
    padding:12px 20px;
    text-decoration: none; 
   color: #000;    
}

div.constructor__style li a.active, div.constructor__style li a:hover {
    font-weight: 700;
         padding-bottom: 10px;
   border-bottom: 5px solid #2F2F2F;
}

.constructor__next {
    display: flex;
        justify-content: center;
    margin-top: 50px; 
}




.constructor__next__a {
    padding: 14px 18px;
    cursor: pointer;
    background: #EA6C18;
    
}


.constructor__next a {
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
    margin: 0 10px;
       
}

.constructor__next__a:hover {
    background: #c96a0a;
}

/*canvas*/


.canvas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  
}

.canvas__canvas {
    display: flex;
    justify-content: center;
}

.canvas__canvas__icons div img {
    margin-top: 15px;
}



.canvas__canvas__icons div img:hover {
    cursor: pointer;
    border: 1px solid #c96a0a;
    
}
    
    

.canvas__img {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    
}

.canvas__img img {
   border: 1px solid #CFCFCF; 
    margin-right: 5px;
}

.canvas__img img.active, .canvas__img img:hover {
    border: 2px solid #EA6C18;
    
}



/*constructor__cotout_type */

.constructor__type__color {
    display: none;
}


div.constructor__cotout__type p {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    margin-inline-start: 65px;
    margin-top: 28px;
}

.constructor__cotout__type__ul {
    position: absolute;
    display: flex;
    justify-content: space-around;
    padding: 0;
    max-width: 540px;
    border-bottom: 1px solid #000;
}

div.constructor__cotout__type li a {
     display:block;
    
    text-decoration: none; 
   color: #000;    
}

div.constructor__cotout__type li img:hover {
   
         padding-bottom: 10px;
   border-bottom: 5px solid #2F2F2F;
}


.constructor__cotout__type__ul img.active {
    opacity: 1;
    padding-bottom: 10px;
   border-bottom: 5px solid #2F2F2F;
}
.constructor__cotout__type__ul img {
padding:12px 20px;
}





/*иконки*/
.icon__round {
    opacity: 0.7;
    transition: all .1s; 
}

.icon__round:hover {
    opacity: 1;
}

.icon__v-shaped {
    opacity: 0.7;
    transition: all .1s;
}

.icon__v-shaped:hover {
    opacity: 1;
}




/*constructor__color
*/


.constructor__color {  
    margin-top: 125px;
}



div.constructor__color p {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    margin-inline-start: 65px;
    margin-top: 38px;
}

.constructor__color__ul {
    
    position: absolute;
    display: flex;
    justify-content: start;
    padding: 0;
    max-width: 540px;
    flex-wrap: wrap;
    max-height: 72px;
}


.constructor__color__logo {
    z-index: 10;
    border-radius: 15px; 
  
}

.constructor__color__logo:hover {
    z-index: 10;
    border-radius: 15px; 
  border: 2px solid #EA6C18;
     
}

.constructor__color__ul li {
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.constructor__color__ul_li_11-20 {
    position: absolute;
    margin-top: 35px;
    
}


.constructor__next__a__stage__2 {
    margin-top: 35px;
}





/*constructor__image__application*/



div.constructor__image p {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    margin-inline-start: 65px;
    margin-top: 28px;
}

.constructor__image__ul {
    position: absolute;
    display: flex;
    justify-content: space-around;
    padding: 0;
    max-width: 540px;
    border-bottom: 1px solid #000;
}

div.constructor__image li a {
     display:block;
    
    text-decoration: none; 
   color: #000;    
}



.constructor__image__ul img.active {
    opacity: 1;
    padding-bottom: 10px;
   border-bottom: 5px solid #2F2F2F;
}

.constructor__image__ul img {
    height: 85px;
    width: 90px;
padding:12px 20px;
}




/*иконки*/

.icon__upload {

    opacity: 0.7;
    transition: all .1s; 
}

.icon__upload:hover {
     border-bottom: 5px solid #2F2F2F;
    opacity: 1;
}

.icon__instagram {

    opacity: 0.7;
    transition: all .1s;
}

.icon__instagram:hover {
     border-bottom: 5px solid #2F2F2F;
    opacity: 1;
}

.icon__collection {
 display:block;
    opacity: 0.7;
    transition: all .1s;
    
}

.icon__collection:hover {
   border-bottom: 5px solid #2F2F2F;
    opacity: 1;
}




/*constructor__image_add*/

.constructor__image__add {
    margin-top: 100px;
}


/*constructor__application*/


div.constructor__application {
    
    margin-top: 140px;
    
}

div.constructor__application div.d-flex {
    
    padding-bottom: 48px;
    border-bottom: 1px solid #000;

}


div.constructor__application p {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    margin-inline-start: 65px;
    margin-top: 38px;
}


.constructor__application__ul {
   
    position: absolute;
    display: flex;
    justify-content: space-around;
}


div.constructor__application li a {
     display:block;
    padding:12px 20px;
    text-decoration: none; 
   color: #000;    
}

div.constructor__application li a.active, div.constructor__application li a:hover {
    font-weight: 700;
         padding-bottom: 10px;
   border-bottom: 5px solid #2F2F2F;
}


#remove__image {
    margin-top: 10px;
}




.constructor__image__application {
    display: none;
    
}



/*constructor__text*/


div.constructor__text p {
 
    font-size: 28px;
    line-height: 33px;
    margin-inline-start: 65px;
    margin-top: 28px; 
}



.input__text__constructor {
    text-align: center;
}


.input__text__constructor input {
    width: 427px;
    text-align: center;
    background: rgba(0, 0, 0, 0.08);
    border: none;
    height: 49px;
}

.input__text__constructor input:focus {
    outline-color: #ea6c18;
}

.constructor__text__input__button {
margin-top: 10px;
    text-align: center;
}

.constructor__text__input__button button {
    width: 110px;
}

.constructor__text__font {
    display: flex;
    margin-top: 10px;
    justify-content: center;
   }

#font-family {
    height: 43px;
    margin-right: 5px;
}

#font-family:hover, #font-family:focus {
   border-color: #ea6c18; 
    outline-color: #ea6c18;
}

#font-size {
    height: 43px;
    width: 69px;
     margin-right: 5px;
}


#font-size:hover, #font-size:focus {
    border-color: #ea6c18;
     outline-color: #ea6c18;
}

#font-weight-bold {
   height: 43px;
    width: 43px;
 display: block;
    font-family: Quando;
    font-weight: bold;
    font-size: 28px;
  padding: 1px 1px;
    border: 1px solid rgb(169, 169, 169);
    text-align: center;
     margin-right: 5px;
   
}

#font-weight-bold:hover {
    border-color: #ea6c18;
}


div.constructor__text div.constructor__text__input div.text__warning {
    text-align: center;
    font-size: 12px;
    color: #f00;

}


.constructor__text__color {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

div.constructor__text__color p {
    margin-top: 0;
    font-size: 18px;
}

.constructor__text__color ul {
    display: flex;
    justify-content: center;
    padding-left: 20px;
}

.constructor__text__color ul li {
  margin-right: 5px;
}

.constructor__text__color ul li img:hover {
    border-radius: 15px;
  border: 2px solid #ea6c18;
} 


div.constructor__application.constructor__application__color {
    margin: 0;
}


.constructor__text {
    display: none;
}

/*constructor size*/


.constructor__size__amount {
    display: block;
}


.constructor__size__amount p {
        font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    margin-inline-start: 65px;
    margin-top: 28px;
}

.constructor__size__ul {
    display: flex;
    justify-content: center;
}

.constructor__size__ul li span {
      height: 43px;
    width: 43px;
 display: block;
  padding: 10px 1px;
    border: 1px solid rgb(169, 169, 169);
    text-align: center;
     margin-right: 41px;
     transition: all .5s;
}

.constructor__size__ul li span:hover, .constructor__size__ul li span.active {
  background: #424242;
    border: 3px solid #ea6c18;
    color: #fff;
    padding: 8px 1px;
   
}

.constructor__amount__ul {
    display: flex;
    justify-content: center;
}

.constructor__amount__ul span {
      height: 43px;
    width: 43px;
 display: block;
  padding: 10px 1px;
    border: 1px solid rgb(169, 169, 169);
    text-align: center;
     margin-right: 41px;
    margin-top: 40px;
}


.constructor__amount__ul li select {
       height: 43px;
    width: 43px;
 display: block;
  padding: 10px 1px;
    border: 1px solid rgb(169, 169, 169);
    text-align: center;
     margin-right: 41px;
    margin-top: 40px;
}

.constructor__amount__ul li select:focus, .constructor__amount__ul li select:hover {
     outline-color: #ea6c18;
    border-color: #ea6c18;
}

.constructor__amount__ul li select:disabled {
    opacity: 0.4;
}

.constructor__size__amount {
    display: none;
}



#popup1 {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 1000px;
    margin: 20px auto;
   
}

.popup1__content {
     display: flex;
    justify-content: center;
}

.popup1__content input {
    display: block;
    width: 450px;
    max-width: 460px;
    background: rgba(121, 121, 121, 0.35);
    border: none;
    margin-top: 10px;
    padding: 10px;
}

.input__information__group {
    display: flex;
    margin-top: 10px;
}

#input__information {
    width: auto;
    margin-right: 10px;
}


.input__information__group label {
    cursor: pointer;
}

.input__no__robot__group {
    display: flex;    
}

#input__no__robot {
    width: auto;
    margin-top: 5px;
    margin-right: 10px;
}

.input__no__robot__group label {
    margin: 0;
    cursor: pointer;
}

.input__send {
    background: #ea6c18 !important;
    width: 450px;
    max-width: 460px;
    border: none;
    height: 71px;
    color: #fff;
    font-size: 22px;
}

.input__send:hover {
    opacity: 0.8;
    cursor: pointer;
}

.input__e-mail {
    display: flex;
}

.input__e-mail span {
    color: #ea6c18;
}

.input__tel {
    display: flex;
}

.input__tel span {
    color: #ea6c18;
}

.input__star {
    color: #ea6c18;
}

.input__inforamtion {
    font-size: 11px;
    margin-top: 5px;
}

#download__pdf {
    color: black;
    text-decoration-line: underline;
}

